@CHARSET "ISO-8859-1";


#userDocs #example_length{
float:left;
}

#userDocs #example_filter{
float:right;
}
.advanceSearch {
    float: right;
    padding: 1em;
    font-size: 17px;
    text-decoration: underline;
    color: #983720;
}
.advanceFilter input {
     padding: 8px;
    background: #f3f3f3;
    height: 2.5em;
    border: 1px solid #ffbd43;
    border-radius: 3px;
}
.advanceFilter {
    display: inline-block;
    padding: 0em 3em 0em 4em;
    margin-top: 1em;
}
#example th {
    padding: 2px 2px 13px 18px !important;
    margin: 0;
    text-align: left !important;
    border-color: #8a7463;
    border-width: 0px 1px 0px 0px;
    font-weight: normal;
    font-size: 16px;
    background: #6d2616 !important;
    color: #fff;
}

.profileImage{
width:7em !important;
}
.panel-body .img-circle {
    border-radius: 50%;
    /* margin-top: 3em; */
    width: 12em;
    border: 3px solid #f5984c;
}

.table-user-information td:first-child {
    color: #6d2616;
    font-weight: bold;
    /* border: 1px solid red; */
    background: #fff;
}

.table-user-information>tbody>tr>th, .table-user-information>tbody>tr>td, .table-user-information>tfoot>tr>th, .table-user-information>tfoot>tr>td {
    padding: 14px;
    line-height: 1.42857;
    vertical-align: top;
    border-color: #ddd;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
}

.myclass .panel-title {
    font-size: 19px;
    font-weight: 500;
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-align: center;
    padding: 4px;
    background: #6d2616;
    color: #fff;
    border-bottom: 2px solid #f5984c;
}
#example td {
  background: none !important;
    padding: 12px 8px 12px 8px !important;
    border-width: 0px 1px 1px 0px !important;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f3f3f3 !important;
}


#example_wrapper .img-circle {

    height: 55px !important;
    width: 55px !important;
    border: 1px solid #f5984c !important;
    box-shadow:none !important;
    margin: -18px -16px 4px 11px !important;
}

table.dataTable.no-footer {
    border-bottom: none !important;
}


table.dataTable thead .sorting {
    background: none !important;
    
}
.panel-info>.panel-heading {
    color: #fff;
    background-color: #983720;
    border-color: #f5984c;
}
#example {
    padding-top: 1em !important;
        border: 1px solid #efebeb;
}
#example_wrapper input, select {
    padding: 8px;
    background: #f3f3f3;
    height: 2.5em;
    border: 1px solid #ffbd43;
    border-radius: 3px;
}

#example_wrapper {
    margin-top: 1em;
}
#example_wrapper a {
    color: #6d2616;
}
.row .modal-dialog {
    position: relative;
    margin: 0 auto;
    top: 35%;
}
.row .modal-header {
    background-color: #f5984c;
    padding: 5px;
}

.row  .modal-header .lexicon-icon-times {
    color: #983720;
}
.col-md-3 button {
    margin-top: 1em;
}
.col-md-3 .control-label {
    display: none;
}
.col-md-3 .modal-dialog {
    position: relative;
    margin: 0 auto;
    top: 35%;
}
.personal-info input.form-control {
    padding: 8px;
    background: #fff;
    height: 2.5em;
    border: 1px solid #999;
    border-radius: 3px;
}
.personal-info select.form-control{
background-color:#fff;
 border: 1px solid #999;
}

.personal-info h1, h2, h3, h4 {
    color: #983720;
    margin: 0em 0em 1em 0.8em;
}

.personal-info .form-control[readonly]{

background: #f5f5f5 !important;
color:#494e50 !important;
}

.container .img-circle {
    border-radius: 50%;
    border: 4px solid #f5984c;
    width: 12em;
    height: 12em;
}
.col-md-3 .card, .col-md-3 .card-horizontal {
    background-color: #6d2616;
    border-radius: 0em 1em 0em 0em;
}
.col-md-3 .card-row-padded{
padding:0 !important;}

.col-md-3  .sticker-default {
    background-color: #f5984c;
    color: #869cad;
}

.col-md-3  .sticker-lg .lexicon-icon{
color:#fff;
}
.col-md-3 .lfr-card-title-text a {
    color: #fff;
}
.row .modal-dialog {
    position: relative;
    margin: 0 auto;
    top: 35%;
}
.row .modal-header {
    background-color: #f5984c;
    padding: 5px;
}

.row  .modal-header .lexicon-icon-times {
    color: #983720;
}
.col-md-3 button {
    margin-top: 1em;
}
.col-md-3 .control-label {
    display: none;
}
.col-md-3 .modal-dialog {
    position: relative;
    margin: 0 auto;
    top: 35%;
}
.personal-info input.form-control {
    padding: 8px;
    background: #fff;
    height: 2.5em;
    border: 1px solid #999;
    border-radius: 3px;
}
.personal-info select.form-control{
background-color:#fff;
 border: 1px solid #999;
}

.personal-info h1, h2, h3, h4 {
    color: #983720;
    margin: 0em 0em 1em 0.8em;
}

.personal-info .form-control[readonly]{

background: #f5f5f5 !important;
color:#494e50 !important;
}

.container .img-circle {
    border-radius: 50%;
    border: 4px solid #f5984c;
    width: 12em;
    height: 12em;
}
.col-md-3 .card, .col-md-3 .card-horizontal {
    background-color: #6d2616;
    border-radius: 0em 1em 0em 0em;
}
.col-md-3 .card-row-padded{
padding:0 !important;}

.col-md-3  .sticker-default {
    background-color: #f5984c;
    color: #869cad;
}

.col-md-3  .sticker-lg .lexicon-icon{
color:#fff;
}
.col-md-3 .lfr-card-title-text a {
    color: #fff;
}